{%extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Customer Info-->
     <section class="about-section text-center" id="about" style="background-image: url({% static 'img/lightsaber.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:-15%">
                            <p><h1 class="text-white mb-4" style="font-size=80%">This page is about the wonderful creators who have made this travel possible</h1></p>
                            <p>
                                <h2 class="text-white mb-4" >Christian Bennett: He singlehandedly created a lawn-mowing empire.</h2>
                                <h2 class="text-white mb-4">Taylor Anderson: Well on his way to having the most valuable motorcycle collection the world has ever seen.</h2>
                                <h2 class="text-white mb-4">Ben Craythorne: He has a resistance to exhaustion that most men can only dream of.</h2>
                                <h2 class="text-white mb-4">Taylor Bullock: Has managed to remain stunningly social despite his super-nerd tendancies.</h2>
                            </p>
                        </h3><br>
                    </p>

            </div>
        </div>
    </section>
{% endblock %}

