{% extends 'base.html' %}
{% load static %}
{% block content %}
            <p>Welcome to our available trips off-world!</p>
            <h4>Browse through our list of available trips:</h4>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Departure Date</th>
                </tr>
                <tr>
                    {% for sName in available_trips %}
                    <td>
                        <form action='/travelpages/{{sName.id}}/'> 
                        <button>{{ sName }} </button> 
                        <form/>
                    </td> 
                    <td>
                        {{ sName.duration }}
                    </td>
                    <td>
                        {{ sName.dateDepart }}
                    </td>
                </tr>
                {% endfor %}
                
            </table>
 {% endblock %} 